
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ff-heading: 'Epilogue', sans-serif;
    --ff-texting: 'Open sans', sans-serif;
  
    --hue: 250;
    --bg-primary: hsl(var(--hue), 22%, 20%);
    --fc-primary: hsl(var(--hue), 0%, 100%);
    --fc-secondary: hsl(var(--hue), 50%, 80%);
    --fc-secondary-dark: hsl(var(--hue), 100%, 11%, 1);
  
  
    font-size: 62.5%;
    --fs-body: 1.6rem;
    --fs-heading: 4rem; 
  }

  body {

    font-size: var(--fs-body);
    margin-top: 6rem;
  
 
  }

  body::before {
    content: '';
    width: 100%;
    height: 100px;

    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: -1;
  }

  .page {
     width: 1000px;
     margin: 0 auto;
     padding-top: 65px;
  }
   
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 55px;

  }

 

  nav a {
    text-decoration: none;
    font-size: 2.5rem;
    color: white;
    
  }

  ul {
    list-style: none;
    display: flex;
    gap: 48px;
    padding: 0;
    margin: 0;
    font-weight: normal;
  }

  a:hover {
    color: purple;
    
  }

  h2 {
    font-size: 3.5rem;
    line-height: 4.8rem;
    font-family: 'Archivo', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }


  main img {
    padding-bottom: 5rem;
    animation: downtop 700ms 350ms backwards;
  }

  .main2 img {
     
        padding-bottom: 10rem;
        animation: downtop 700ms 350ms backwards;
      
  }

  header h1 {
    
    text-align: center;
    font-size: 3.5rem;
    line-height: 4.8rem;
    font-family: 'Archivo', sans-serif;
    margin-top: 100px;
  }

  header p {
    font-size: 2.0rem;
    line-height: 2.5rem;
    text-align: center;
    font-family: 'Lora', serif;
    margin-top: 10px;
  }

  main {
    display: grid;
    gap: 3.2rem;
   
  
    padding-bottom: 10rem;
    animation: downtop 700ms 350ms backwards;
  }

  .main2 {
    display: grid;
    gap: 3.2rem;
    padding-bottom: 5rem;
    animation: downtop 700ms 350ms backwards;
  
  }
  
  .card {
    position: relative;
  
    font-family: var(--ff-heading);
  }
  
  .card img {
    height: 41.6rem;
    object-fit: cover;
  
    border-radius: 6px;
  
    transition: all 200ms;
  }
  
  .card img:hover {
    transform: scale(1.1);
    opacity: 0.4;
  }
  
  .card h2 {
    position: absolute;
    bottom: 8.2rem;
    left: 3.8rem;
  
    font-size: 4rem;
    font-weight: 800;
  
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
  }
  
  .card h2 span {
    border-radius: 2rem;
    background-color: var(--fc-primary);
    font-size: var(--fs-body);
    font-weight: 400;
    color: var(--fc-secondary-dark);
    padding: 0 1.6rem;
  
    width: fit-content;
    height: 3.8rem;
  
    display: inline-flex;
    align-items: center;
  }

  footer {
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: space-around  ;
    margin-top: 20px;
  }
  
  .familia {
       display: flex;
       justify-content: center;    
  }
  
  .insta {
     display: flex;
     justify-content: center;
     align-items: center;
  
  }

  .insta a {
    text-decoration: none;
    color: white;
    text-align: center;

    font-size: 2.5rem;
  }

  .insta a:hover {
    color: purple;
  }

  .twitter {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .twitter a {
       text-decoration: none;
       color: white;
       margin-top: 10px;

       font-size: 2.5rem;
 }
 
 .twitter a:hover {
    color: purple;

 }

 footer h2 {
  color: antiquewhite;
 }


  @keyframes topdown {
    0% {
      opacity: 0;
      transform: translateY(-15px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes downtop {
    0% {
      opacity: 0;
      transform: translateY(15px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  @media (min-width: 700px) {
    :root {
      --fs-heading: 5.6rem;
    }
    
    .page {
      max-width: 117rem;
      padding: 0 5rem;
    }
  
    main {
      grid-template-columns: 1fr 1fr;
    }

    .main2 {
        grid-template-columns: 1fr 1fr;
    }
  }
  
  main img {
    padding-bottom: 10rem;
    animation: downtop 700ms 350ms backwards;
  }

    .main2 {
        grid-template-areas: "A  B"
        "C  D";
      }
    
      .main2 div:nth-child(1) {
        grid-area: A;
      }
    
      .main2 div:nth-child(2) {
        grid-area: B;
      }
    
      .main2 div:nth-child(3) {
        grid-area: C;
      }
    
      .main2 div:nth-child(4) {
        grid-area: D;
      }
  

  


 

    
    
